body{
	color:#e6e600;
	background-color:#ffffff;
}
h1 {
	color:#333333;
	font-family: Papyrus, Arial;
	text-aling: center;
}
h2 {
	color:#000000;
}
h3 {
	color:#000000;
}
p {
	color:#2eb82e;
}
ol {
	color:#000000;
}